body {
    background: #eee;
    font: normal 16px/20px sans-serif;

  }

.wrapper {
    width: 635px;
    margin: 0 auto;
}

.logo {
    color: #ee3322;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;

}

.header {
    background: white;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.header a {
    color: #0f65ef;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

.quiz-title {
    margin: 25px 0 25px 0;
    font-size: 28px;
    line-height: 34px;
}

.quiz-subtitle {
   margin-bottom: 50px;
}

.question {
    padding-bottom: 200px;
}

.question h3 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    background-color: #9b322f;
    margin-top: 50px;
    padding: 50px;
}

.answer {
    width: 180px;
    background-color: #ddd;
    margin: 10px 10px 0 0;
    padding: 8px;
    border: 1px solid #bbb;
    float: left;
}

.selected-answer {
   background: #8ac5ff;
}
.result {
    background-color: #fff;
    display: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}
